.form-check {
  text-align: left;
}

.panel-default {
  border: 2px solid black;
}

.panel-body {
  text-align: Center;
}

.wrapper {
  width: 650px;
  margin: 0 auto;
}

.page-header h2 {
  margin-top: 0;
}

table tr td:last-child a {
  margin-right: 15px;
}

hr {
  height: 1px;
  color: black;
  background-color: black;
}

.rowV2-39-final {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 100%;
}
.rowV2-39-final .panel {
  height: 100%;
  width: 100%;
  margin: unset;
}

/*# sourceMappingURL=style.css.map */
